<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ config.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}The AI-generated sleep podcast{% endblock title %} - Deep Dreams</title>
        <link rel="stylesheet" href="{{ get_url(path='main.css') }}">
    </head>

    <body>
        {% block content %}
        <main>
            <h1 class="brand">
                <a href="/">{{ config.title }}</a>
            </h1>
            <div class="subtitle">
                The world's first AI-generated podcast (that I know of).
            </div>
            <div class="byline">
                <p>
                Deep Dreams is an AI generated podcast with nonsensical stories to help
                you fall asleep to a soothing voice. Let your robotic overlords whisper
                comforting sweet nothings straight into your subconscious. What could go
                wrong?
                </p>

                <p>
                Deep Dreams is hosted on Spotify, Pocket Casts, bog standard RSS and
                many other platforms.  Find it wherever you listen to podcasts, or
                below!
                </p>
                <p>
                Listen on:
                <ul class="listen">
                    <li><a href="/feed.xml">RSS/Your podcast player</a></li>
                    <li><a href="https://open.spotify.com/show/3CgMLtQsxwE6sJ37EAiQHA">Spotify</a></li>
                    <li><a href="https://podcasts.apple.com/us/podcast/deep-dreams/id1598732537">Apple Podcasts</a></li>
                    <li><a href="https://pca.st/kf7fmp9e">Pocket Casts</a></li>
                </ul>
                </p>
            </div>

            <div class="episodes">
                <h1>Episodes</h1>
                {% set blog = get_section(path='episodes/_index.md') %}
                {% for episode in blog.pages %}
                <div class="episodes-single">
                    <a class="episodes-single-title" href="{{ episode.permalink }}">{{ episode.title }}</a>

                    <time datetime="{{ episode.date | date(format="%+") }}" itemprop="datePublished">
                        {{ episode.date | date(format='%B %e, %Y') }}
                    </time>

                    <div itemprop="articleBody">
                        {{ episode.summary | safe }}
                        <a href="{{ episode.permalink }}">Read on for transcript...</a>
                    </div>

                    <div>
                        <p>
                        <audio controls src="{{ episode.extra.episode_url }}"></audio>
                        </p>
                    </div>

                </div>
                <hr>
                {% endfor %}
            </div>
        </main>
        {% endblock content %}

        <footer>
            <a href="/feed.xml">RSS</a>
            / <a href="/about/">About</a>
            / <a href="/thanks/">Thanks</a>
            / A <a href="https://www.stavros.io/">Stavros</a> project.
        </footer>
  </body>
</html>
